.text {
	font-family: 'League Spartan', sans-serif;
	text-align: center;
	width: 60%;
	line-height: 25px;
	margin: 4rem auto 1rem auto;
	color: #927b91;
	font-size: 19px;
	font-weight: 500;

	@media screen and (min-width: 1024px) {
		text-align: left;
		width: 500px;
		padding-right: 4rem;
	}
}
