.title {
	font-family: 'League Spartan', sans-serif;
	text-align: center;
	width: 50%;
	margin: 0 auto 1rem auto;
	color: #512051;
	font-size: 40px;
	font-weight: 700;
	
	@media screen and (min-width: 1024px) {
		width: 500px;
		font-size: 56px;
		text-align: left;
		line-height: 46px;
	}
}
