.header{
    background-image: url(/public/images/bg-pattern-top-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 6rem;
    @media screen and (min-width: 1024px) {
        background-image: url(/public/images/bg-pattern-top-desktop.svg);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10rem 6rem 4rem 6rem;
        gap: 0rem;
    }
}